In [1]:
import requests as r
from bs4 import BeautifulSoup
import pandas as pd

## Import public data set about Earthquakes 1900-Present

### Import Wikipedia data of deadliest earthquakes of 20th-century (country and date list)

- isolating headers
- isolating data rows
- merging headers and data rows into data frame

In [2]:
wiki_url = "https://en.wikipedia.org/wiki/Lists_of_20th-century_earthquakes"

In [3]:
# table_id = "List_of_deadliest_earthquakes" # table is not accessible via id

In [4]:
response = r.get(wiki_url)

In [5]:
soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
ds = soup.table

In [7]:
# list of column names

header_tags = ds.find_all('th')

ths = [th.string.strip() for th in header_tags]

In [8]:
# isolating rows only with data

data_rows = ds.find_all('tr')

In [9]:
rows = []

for row in data_rows:
    value = row.find_all('td')
    readable_value = [dp.text.strip() for dp in value]
    print(readable_value)
    
    if len(readable_value) == 0:
        continue
        
    rows.append(readable_value)

[]
['1', '273,400', '7.8 Ms', '1920 Haiyuan earthquake', 'China', '16 December 1920']
['2', '242,000', '7.6', '1976 Tangshan earthquake', 'China', '28 July 1976']
['3', '142,800', '8.2', '1923 Great Kantō earthquake', 'Japan', '1 September 1923']
['4', '110,000', '7.3 Ms', '1948 Ashgabat earthquake', 'Turkmen SSR', '5 October 1948']
['5', '82,000', '7.1 Ms', '1908 Messina earthquake', 'Italy', '28 December 1908']
['6', '70,000', '7.9', '1970 Ancash earthquake', 'Peru', '31 May 1970']
['7', '60,000', '7.7', '1935 Quetta earthquake', 'Pakistan', '31 May 1935']
['8', '50,000', '7.4', '1990 Manjil–Rudbar earthquake', 'Iran', '21 June 1990']
['9', '40,900', '7.6', '1927 Gulang earthquake', 'China', '22 May 1927']
['10', '32,700', '7.8', '1939 Erzincan earthquake', 'Turkey', '26 December 1939']
['11', '32,610', '6.7 Ms', '1915 Avezzano earthquake', 'Italy', '13 January 1915']
['12', '28,000', '8.3 Ms', '1939 Chillán earthquake', 'Chile', '24 January 1939']
['13', '25,000', '6.8 Ms', '1988 Armenian earthquake', 'Armenian SSR', '7 December 1988']
['14', '23,000', '7.5', '1976 Guatemala earthquake', 'Guatemala', '4 February 1976']
['15', '20,000', '7.8 Ms', '1905 Kangra earthquake', 'India', '4 April 1905']
['16', '17,127', '7.6', '1999 İzmit earthquake', 'Turkey', '17 August 1999']
['17', '15,621', '7.1', '1970 Tonghai earthquake', 'China', '5 January 1970']
['18', '15,000', '7.4', '1978 Tabas earthquake', 'Iran', '16 September 1978']
['18', '15,000', '7.4', '1968 Dasht-e Bayaz and Ferdows earthquakes', 'Iran', '31 August 1968']
['20', '12,225', '7.1 ML', '1962 Buin Zahra earthquake', 'Iran', '1 September 1962']
['21', '12,000', '7.3 Ms', '1907 Qaratog earthquake', 'Tajikistan', '21 October 1907']
['21', '12,000', '8.0', '1934 Nepal–India earthquake', 'India', '15 January 1934']
['21', '12,000', '5.8', '1960 Agadir earthquake', 'Morocco', '29 February 1960']
['24', '11,000', '6.3', '1972 Nicaragua earthquake', 'Nicaragua', '23 December 1972']
['25', '10,000', '8.0', '1931 Fuyun earthquake', 'China', '11 August 1931']
['25', '10,000', '7.8', '1944 San Juan earthquake', 'Argentina', '15 January 1944']
['25', '10,000', '8.0', '1985 Mexico City earthquake', 'Mexico', '19 September 1985']

In [10]:
# creation of Pandas' data frame

df_20 = pd.DataFrame(rows)

df_20.columns = ths

df_20.head(5)

,Rank,Fatalities,Magnitude,Event,Location,Date
0,1,"273,400",7.8 Ms,1920 Haiyuan earthquake,China,16 December 1920
1,2,"242,000",7.6,1976 Tangshan earthquake,China,28 July 1976
2,3,"142,800",8.2,1923 Great Kantō earthquake,Japan,1 September 1923
3,4,"110,000",7.3 Ms,1948 Ashgabat earthquake,Turkmen SSR,5 October 1948
4,5,"82,000",7.1 Ms,1908 Messina earthquake,Italy,28 December 1908

In [11]:
df_20.shape

(27, 6)

### Import Wikipedia data of deadliest earthquakes of 21st-century (country and date list)

- using Pandas to create data frame; headers and data rows in once

In [12]:
wiki_url = "https://en.wikipedia.org/wiki/Lists_of_21st-century_earthquakes"

In [13]:
response = r.get(wiki_url)

In [14]:
soup = BeautifulSoup(response.text, 'html.parser')

In [15]:
ds = soup.table

In [35]:
# creation of Pandas' data frame

df = pd.read_html(str(ds))

df_21 = df[0]

df_21.head(5)

,Rank,Fatalities,Magnitude,Location,Event,Date
0,1,227898,9.1,"Indonesia, Indian Ocean",2004 Indian Ocean earthquake and tsunami,"December 26, 2004"
1,2,160000,7.0,Haiti,2010 Haiti earthquake,"January 12, 2010"
2,3,87587,7.9,China,2008 Sichuan earthquake,"May 12, 2008"
3,4,87351,7.6,Pakistan,2005 Kashmir earthquake,"October 8, 2005"
4,5,26271,6.6,Iran,2003 Bam earthquake,"December 26, 2003"

In [31]:
df_21.shape

(15, 6)